{% extends 'main/base.html'%}
Седьмая страница
{% block title %}
{% endblock %}
{% block content %}
<h1>До взрыва осталось: </h1>
<p></p>
<script src="//megatimer.ru/get/0c144f208557766ce875ca7d4eb7ed98.js"></script>
<p></p>
 <img src="/static/img/12.png" >
<p></p>
<p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Как оказалось, бомба уже запущена. Нужно поспешить, чтобы остановить ее!
</font></font></p>
<div class="container-buttons">
<a href="/bone" class="btn btn-lg btn-secondary fw-bold border-white bg-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;" color="green" >Продолжить</font></font></a>
{% endblock %}