{% extends 'main/base.html'%}
Седьмая страница
{% block title %}
{% endblock %}
{% block content %}


 <img src="/static/img/19.png" >
<p></p>
<p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вирусы пойманы и посажаны в клетку. Компьютер спасен. Большое спасибо друг, без тебя бы ничего не вышло. Ты большой молодец! :)
</font></font></p>
<div class="container-buttons">
<a href="/" class="btn btn-lg btn-secondary fw-bold border-white bg-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;" color="green" >Вернуться в главное меню</font></font></a>
</div>
    {% endblock %}