{% extends 'main/base.html'%}
Седьмая страница
{% block title %}
{% endblock %}
{% block content %}
<h5>Оставшееся время:</h5>
<script  src="//megatimer.ru/get/614a078516dac3cb5a70100d45cd2689.js" ></script>
<p></p>
 <img src="/static/img/8.png" >
<p></p>
<p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ОЙ! Ты отвечал на вопрос слишком долго, поэтому ты был замечен на камерах. Нужно как можно быстрее спрятаться.
</font></font></p>
<div class="container-buttons">
<a href="/fivefour" class="btn btn-lg btn-secondary fw-bold border-white bg-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;" color="green" >Продолжить</font></font></a>
</div>
    {% endblock %}
