{% extends 'main/base.html'%}
Вторая страница
{% block title %}
{% endblock %}
{% block content %}
<h5>Оставшееся время:</h5>
<script  src="//megatimer.ru/get/614a078516dac3cb5a70100d45cd2689.js" ></script>
 <img src="/static/img/11.png">
<p></p>
<hr></hr>
<p id="sample_typeit" data-typeit-id="7796100">Просматрев видео, мы заметили, как 5 минут назад все вирусы собрались в одном месте, чтобы взоравать компьтер. Нужно как можно быстрее останить их!<span class="ti-cursor with-delay" style="display: inline; color: rgb(36, 41, 46); font: 24px / 30px -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; margin: 0px -4.875px 0px -0.875px;">|</span></p>
<script src="https://prowebmastering.ru/cdn/typeit.min.js"></script>
<hr></hr>


<script>
new TypeIt("#sample_typeit", {
  strings: "",
  waitUntilVisible: true
}).go();
</script>
<div class="container-buttons">
<a href="/fiveeight" class="btn btn-lg btn-secondary fw-bold border-white bg-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;" color="green">Продолжить</font></font></a>
</div>
{% endblock %}