{% extends 'main/base.html'%}
Четвертая страница
{% block title %}
{% endblock %}
{% block content %}
<h5>Оставшееся время:</h5>
<script  src="//megatimer.ru/get/614a078516dac3cb5a70100d45cd2689.js" ></script>
<p></p>
<p>Итак, перед тобой два разных пути. Для продолжения прохождения квеста тебе необходимо выбрать один.</p>
 <img src="/static/img/5.png" >
<p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> </font></font></p>

<div class="container-buttons">
<a href="/sixone" class="btn btn-lg btn-secondary fw-bold border-white bg-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;" color="green">Пойти налево</font></font></a>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a href="/fiveone" class="btn btn-lg btn-secondary fw-bold border-white bg-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;" color="green">Пойти направо</font></font></a>
</div>
{% endblock %}
