{% extends 'main/base.html'%}
Седьмая страница
{% block title %}
{% endblock %}
{% block content %}
<h5>Оставшееся время:</h5>
<script  src="//megatimer.ru/get/614a078516dac3cb5a70100d45cd2689.js" ></script>
<p></p>
<img src="/static/img/23.png" >
<p></p>
<p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ТУПИК! К сожалению, ты изначально выбрал неправильный путь. Необходимо вернуться назад и выбрать путь "Направо", чтобы продолжить выполнять квест.</font></font></p>
<p></p>
<div class="container-buttons">
<a href="/four" class="btn btn-lg btn-secondary fw-bold border-white bg-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;" color="green" >Вернуться назад</font></font></a>
</div>
{% endblock %}